/ {
    // this file informs Zephyr that a servo is connected to the board via PWM on
    // pwm0 (channel 1) with a 20 ms period, and it specifies the pulse width
    // range (700 µs to 2500 µs) that corresponds to the servo’s full range of motion.
    servo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2500)>;
    };
};

&pwm0 {
    status = "okay";
};

